[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/powerline/powerline.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
